@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
		--color-primary-50:  #EFF6FF;
		--color-primary-100: #DBEAFE;
		--color-primary-200: #BFDBFE;
		--color-primary-300: #93C5FD;
		--color-primary-400: #60A5FA;
		--color-primary-500: #3B82F6;
		--color-primary-600: #2563EB;
		--color-primary-700: #1D4ED8;
		--color-primary-800: #1E40AF;
		--color-primary-900: #1E3A8A;
		--color-primary-950: #172554;

		--color-gray-50:  #fafaf9;
		--color-gray-100: #f5f5f4;
		--color-gray-200: #e7e5e4;
		--color-gray-300: #d6d3d1;
		--color-gray-400: #a8a29e;
		--color-gray-500: #78716c;
		--color-gray-600: #57534e;
		--color-gray-700: #44403c;
		--color-gray-800: #292524;
		--color-gray-900: #1c1917;
		--color-gray-950: #0c0a09;
		
		--button-radius: 0px;
		--icon-radius: 0px;
		--link-radius: 0px;
		--card-lg-radius: 0px;
		--card-md-radius: 0px;
		--card-sm-radius: 0px;

		--font-heading: var(--playfull-heading);
		--font-body: var(--playfull-body);

		.stop-primary-dark {
			stop-color: #3B82F6;
		}
		.stop-primary-light {
			stop-color: #DBEAFE;
		}
		.stop-secondary-dark {
			stop-color: #60A5FA;
		}
		.stop-secondary-light {
			stop-color: #BFDBFE;
		}

		
  }
}
